@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.nav-logo {
    height: 50PX;
    width: 50PX;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #eb15dc, #4715eb);
    padding: 25%;
}

.TRENDING-page {
    background-image: url("https://cdn.anisearch.de/images/anime/cover/18/18460_400.webp");
    background-size: cover;
    height: 65vh;
}

.TRENDING-badge {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    width: 150px;
    color: white;
    padding: 0.2rem;
}

.TRENDING-page-h1 {
    font-weight: 1000;
    font-family: Roboto;
    font-size: 45px;
    background: linear-gradient(135deg, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.button {
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom right, #f803fc, #0320fc);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
}

.button-add-to-list {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}